.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434753;

}

.loading-text {
  color: #8e97a2;
  font-size: 2rem;
  font-weight: 600;
}

#root {
  background-color: #dbdddf;
}